@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #fbfefb;
    --muted: #4b5563;
}

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-[color:var(--bg)] text-gray-900 antialiased;
    font-family: 'Cairo', Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}


/* Ensure default direction and text alignment for Arabic content */
html[dir="rtl"] body {
    direction: rtl;
    text-align: right;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prose-img {
    border-radius: 0.5rem;
}